 <!-- Right Panel -->

 <%- include include/header.ejs %>

 <%- include include/sidebar.ejs %>
 
 <div id="right-panel" class="right-panel">

        <%- include include/topnav.ejs %>

        
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Users</strong>
                            </div>
                            <div class="card-body">
                                <table id="users" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Full Name</th>
                                            <th>Email Address</th>
                                            <th>Phone number</th>
                                            <th>Customers</th>
                                            <th>Last Login</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div><!-- /#right-panel -->
     
 <script type="text/javascript">
 $(document).ready(function(){
    $.getJSON( "/admin/users", function( data ) {
        console.log(data);
        var html = '';
        data.forEach(element => {
            html += '<tr><td>' +element.id + '</td><td>' 
                +element.username + '</td><td>'
                +element.email+'</td><td>'
                +element.phone_number+'</td><td>'
                +element.customers+'</td><td>'
                +element.last_login.replace("T"," ").replace(".000Z","")+'</td><td><a href="/admin/users/delete/'
                +element.id+'" class="btn btn-outline-danger">Delete</a><a href="/admin/users/edit/'
                +element.id+'" class="btn btn-outline-info">Edit</a></td></tr>'
        });
        $("#users tbody").html(html);
        $('#users').DataTable();
    });
 });
 </script>
     <!-- Right Panel -->
     <%- include include/footer.ejs %>
 